// ── Canvas ────────────────────────────────────────────────────────────────────
.tree-canvas {
	width: 400px;
	height: 400px;
	cursor: pointer;

	// @media (max-width: 768px) {
	// 	width: 260px;
	// 	height: 260px;
	// }
}

// ── Optional controls

// ── Canvas ────────────────────────────────────────────────────────────────────
.rive-tree2 {
	width: 400px;
	height: 400px;
	cursor: pointer;
	z-index: 999;

	// @media (max-width: 768px) {
	// 	width: 260px;
	// 	height: 260px;
	// }
}

// ── Optional controls
